body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}
.adduser {
  margin-top: 5%;
}

.chatroom {
  margin: 10%;
}

.user-number {
  margin-top: 5%;
  margin-bottom: 5%;
}